@import '../../styles/variables';
@import '../../styles/mixins';

.aboutBanner {
    // height: 50vh;
    height: 100%;
    margin-bottom: 46px;
}

.aboutBannerImage {
    width: 100%;
}

.aboutHeading {
    text-align: center;
    margin-top: 30px;
}

.aboutText {
    padding: 36px 222px;

    > * {
        margin: 16px 0;
    }
}

.aboutTeamImage {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    margin: 20px 222px;
    gap: 20px;
}

.teamImage {
    width: 100%;
}

.modalPosition {
    position: absolute;
    top: 0;
    left: 0;
}

.journeyContainer {
    margin: 56px auto;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    // margin-top: 30px;
}

.journeyButton {
    padding: 10px 8px;
    border-radius: 32px;
    width: 20%;
}

.emailDiv {
    width: 35%;
}

.emailAddress {
    width: 100%;
    padding: 12px, 14px;
    border-radius: 8px;
    gap: 8px;
}

/* Mobile Phones */
@media (max-width: 430px) {
    .aboutText {
        padding: 24px 16px;

        > * {
            margin: 12px 0;
        }
    }

    .aboutTeamImage {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        margin: 20px 16px;
        gap: 10px;
    }

    .journeyButton {
        padding: 8px 12px;
        width: 30%;
    }

    .emailDiv {
        width: 40%;
    }

    .emailAddress {
        padding: 12px, 14px;
    }
}

/* Tablets */
@media (min-width: 431px) and (max-width: 768px) {
    .aboutText {
        padding: 36px 56px;

        > * {
            margin: 16px 0;
        }
    }

    .aboutTeamImage {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        margin: 20px 96px;
        gap: 10px;
    }

    .journeyButton {
        padding: 8px 12px;
        width: 30%;
    }

    .emailDiv {
        width: 40%;
    }

    .emailAddress {
        padding: 12px, 14px;
    }
}

/* Wide Desktop Screens */
@media (min-width: 1920px) {
    /* Your wide desktop-specific styles here */
}
