@import '../../styles/variables';
@import '../../styles/mixins';

.AboutBanner {
    background-image: url('../../assets/about-image/Image.png');
    // width: 1920px;
    height: 434px;

}

.AboutHeading {
    text-align: center;
    margin-top: 30px;
}

.AboutText {
    margin-left: 220px;
    margin-right: 220px;
}

.AboutTeamHeading {
    text-align: center;
}

.AboutTeamImage {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-left: 220px;
    gap: 20px;


}