@import '../../../styles/variables';
@import '../../../styles/mixins';

.dualBackground {
    padding-top: 76px;
    margin-top: 56px;
    width: 100%; /* Set the width as needed */
    height: 700px; /* Set the height as needed */
    background-image:
        url('../../../assets/home/waves.png'),
        /* URL for the first image */ url('../../../assets/home/mockup.png'); /* URL for the second image */
    background-position: center; /* Center the background images */
    background-size: cover; /* Ensure the images cover the entire element */
    position: relative;
    .heading {
        z-index: 100;
        text-align: center;
        padding-top: 40px;
        background: linear-gradient(
            to right,
            #303030,
            #f8f7f7,
            #303030
        ); /* Define the gradient colors */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .p1 {
        margin-top: 24px;
    }
    // .laptopImage {
    //     height: 724px;
    //     width: 100%;
    //     opacity: 70%;
    // }
}

.dualBackground::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background: url('../../../assets/home/mockup.png'); /* URL for the second image */
    opacity: 50%; /* Set the opacity to 70% */
    background-position: center;
    background-size: cover;
}
