@import '../../../styles/variables';
@import '../../../styles/mixins';

.dualBackground {
    padding: 76px 222px;
    margin: auto;
    width: 100%;
    background-image: url('../../../assets/home/waves.png'),
        url('../../../assets/home/mockup.png');
    background-position: center;
    background-size: cover;
    position: relative;
    .heading {
        text-align: center;
        padding-top: 96px;
        background: linear-gradient(to right, #303030, #f8f7f7, #303030);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .p1 {
        margin-top: 24px;
    }
}

.dualBackground::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../assets/home/mockup.png');
    opacity: 50%;
    background-position: center;
    background-size: cover;
}

.awardContainer {
    display: flex;
    padding: 724px 56px 196px 56px;
    .award {
        width: 40%;
        margin: auto;
        height: 290px;
    }
}

.buttonContainer {
    text-align: center;
    margin-top: 48px;
}

.getButton {
    margin: 10px 12px;
    padding: 5px 10px;
    border-radius: 32px;
}
.watchButton {
    margin: 10px 12px;
    padding: 5px 10px;
    border-radius: 32px;
}

.bottomHeading {
    text-align: left;
    .heading1 {
        background: linear-gradient(45deg, #164c63, #088ab2);
        width: 100%;
        height: 300px;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .heading2 {
        background: linear-gradient(45deg, #a15c07, #eaaa08);
        width: 100%;
        height: 300px;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .heading3 {
        background: linear-gradient(45deg, #ffffff, #ffffff);
        width: 100%;
        height: 300px;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .heading4 {
        background: linear-gradient(45deg, #ffffff, #555555);
        width: 100%;
        height: 300px;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
