@import '../../../styles/variables';
@import '../../../styles/mixins';

/* Laptops */

.bannerContainer {
    background-image: url('../../../assets/home/black.jpg');
}

.dualBackground {
    padding: 76px 222px;
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/home/waves.png'),
        url('../../../assets/home/mockup.png');
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: transparent;

    .heading {
        text-align: center;
        padding-top: 96px;
        background: linear-gradient(to right, #8a8a8a, #ffffff, #ffe5e5);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .p1 {
        padding-top: 32px;
        color: aliceblue;
    }
}

.dualBackground::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../assets/home/mockup.png');
    opacity: 35%;
    background-position: top;
    background-size: cover;
}

.awardContainer {
    display: flex;
    padding: 724px 56px 196px 56px;
    .award {
        margin-top: 56px;
        width: 50%;
        margin: auto;
        height: 250px;
    }
}

.buttonContainer {
    text-align: center;
    margin-top: 24px;
}

.getButton {
    margin: 10px 12px;
    padding: 5px 10px;
    border-radius: 32px;
}
.watchButton {
    margin: 10px 12px;
    padding: 5px 10px;
    border-radius: 32px;
}

.bottomHeading {
    padding: 0px 76px 222px 222px;
    text-align: left;
    .heading1 {
        background: linear-gradient(45deg, #164c63, #088ab2);
        width: 100%;
        height: 300px;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .heading2 {
        background: linear-gradient(45deg, #a15c07, #eaaa08);
        width: 100%;
        height: 300px;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .heading3 {
        background: linear-gradient(45deg, #ffffff, #ffffff);
        width: 100%;
        height: 300px;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .heading4 {
        background: linear-gradient(45deg, #ffffff, #555555);
        width: 100%;
        height: 300px;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/* Mobile Phones */
@media (max-width: 430px) {
    .dualBackground {
        padding: 36px 56px;
    }
    .awardContainer {
        display: inline-block;
        padding: 350px 36px 0 36px;
        .award {
            width: 100%;

            margin: auto;
            height: 260px;
            padding-bottom: 36px;
        }
    }

    .heading {
        padding-top: 46px;
    }

    .bottomHeading {
        padding: 36px 56px;
    }
}

/* Tablets */
@media (min-width: 431px) and (max-width: 768px) {
    .dualBackground {
        padding: 36px 56px;
    }
    .awardContainer {
        display: inline-block;
        padding: 350px 36px 0 36px;
        .award {
            width: 100%;

            margin: auto;
            height: 260px;
            padding-bottom: 36px;
        }
    }

    .heading {
        padding-top: 46px;
    }

    .bottomHeading {
        padding: 36px 56px;
    }
}

/* Wide Desktop Screens */
@media (min-width: 1920px) {
    /* Your wide desktop-specific styles here */
}
