.ModalOverlay {
    position: absolute;
    margin-bottom: 200px;
}

.ModalContent {
    // margin-top: 40px;
    font-size: 10px;
    margin-left: 180px;
    // margin-bottom: 400px;
    // margin-right: 220px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: left;
    width: 70%;
    color: #A1A5AA;
    height: 328px;
    padding: 64px, 48px, 64px, 48px;
    border-radius: 12px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        linear-gradient(45deg, #1D2939 0%, #475467 100%);
}