@import '../../styles/variables';
@import '../../styles/mixins';

.contactBanner {
    // height: 50vh;
    height: 100%;
}

.contactBannerImage {
    width: 100%;
}

.contentContainer {
    width: 100%;
    padding: 32px 222px;

    > * {
        margin: 16px 0;
    }

    .formContainer {
        display: flex;
        gap: 10px;
    }

    .firstName {
        width: 100%;
        border-radius: 8px;
    }

    .lastName {
        width: 100%;
        border-radius: 8px;
    }
    .firstNameInput {
        width: 100%;
        border-radius: 8px;
    }

    .lastNameInput {
        width: 100%;
        border-radius: 8px;
    }

    .emailInput {
        width: 100%;
        border-radius: 8px;
    }

    .messageInput {
        width: 100%;
        max-width: 100%;
        padding: 8px;
        border-radius: 8px;
    }

    .continueButton {
        width: 100%;
        padding: 10px 18px;
        border-radius: 32px;
    }
    .signupContainer {
        display: flex;
        gap: 4px;
    }
}

/* Mobile Phones */
@media (max-width: 430px) {
    .contentContainer {
        padding: 32px 24px;
    }
}

/* Tablets */
@media (min-width: 431px) and (max-width: 768px) {
    .contentContainer {
        padding: 32px 56px;
    }
}

/* Wide Desktop Screens */
@media (min-width: 1920px) {
    /* Your wide desktop-specific styles here */
}
