@import '../../styles/variables';

.navbarContainer {
    background-color: $hexaLightBackground;
    position: fixed;
    padding: 0 222px; /* Responsive padding */
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 100;

    .hexaBetaLogo {
        display: flex;
        align-items: center;
    }

    .continueButton {
        margin: 0.6em 0.3em;
        padding: 0.3em 1em;
        border-radius: 32px;
    }
    .loginButton {
        margin: 1em 0.3em;
        padding: 0.2em 1em;
        border-radius: 32px;
        color: #fff;
    }

    .navLink {
        text-decoration: none;
        margin: 1em 0.4em;
        font-weight: 300;
        color: rgb(0, 0, 0);
    }
}

.dropdownContainer {
    display: none;
}

/* Mobile Phones */
@media (max-width: 430px) {
    .navbarContainer {
        padding: 0 12px; /* Responsive padding */
    }

    .navLinkContainer {
        display: none;
    }
    .navbarToggle {
        display: flex !important;
        color: #fff;
        align-items: center;
        cursor: pointer;
    }
    .dropdownContainer {
        position: relative !important;
        display: flex !important;
        color: #fff;
        align-items: center;
        cursor: pointer;

        // display: none;
    }

    .navLink {
        margin: 0px !important;
    }

    .continueButton {
        margin-top: 3px !important;
    }
    .loginButton {
        margin-top: 3px !important;
    }

    .dropdownTrigger {
        cursor: pointer;
        color: #000000;

        &:hover {
            .dropdown {
                display: block;
            }
        }

        .dropdown {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: $hexaLightBackground;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1;
            width: 180px;

            &.open {
                display: block;
            }

            a {
                display: block;
                padding: 10px;
                text-decoration: none;
                color: rgb(0, 0, 0);

                &:hover {
                    background-color: rgb(0, 0, 0);
                    color: #fff;
                }
            }
        }
    }
}

/* Tablets */
@media (min-width: 431px) and (max-width: 768px) {
    .navbarContainer {
        padding: 0 56px;
    }

    .navLinkContainer {
        display: none;
    }
    .navbarToggle {
        display: flex !important;
        color: #fff;
        align-items: center;
        cursor: pointer;
    }
    .dropdownContainer {
        position: relative !important;
        display: flex !important;
        color: #000000;
        align-items: center;
        cursor: pointer;

        // display: none;
    }

    .navLink {
        margin: 0px !important;
    }

    .continueButton {
        margin-top: 3px !important;
    }
    .loginButton {
        margin-top: 3px !important;
    }

    .dropdownTrigger {
        cursor: pointer;
        color: #000000;

        &:hover {
            .dropdown {
                display: block;
            }
        }

        .dropdown {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: $hexaLightBackground;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1;
            width: 180px;

            &.open {
                display: block;
            }

            a {
                display: block;
                padding: 10px;
                text-decoration: none;
                color: rgb(0, 0, 0);

                &:hover {
                    background-color: rgb(0, 0, 0);
                    color: #fff;
                }
            }
        }
    }
}

/* Wide Desktop Screens */
@media (min-width: 1920px) {
    /* Your wide desktop-specific styles here */
}
