.movingContainer {
    max-width: 996px;
    margin: auto;
}

.heading {
    margin: 96px 0px;
    .heading1 {
        color: #929294;
    }
    .heading2 {
        color: black;
    }
}

.movingBoxContainer {
    display: flex;
    gap: 24px;

    .movingBox1 {
        flex: 7;
        height: 500px;
        position: relative;
        background: linear-gradient(45deg, #164c63, #088ab2);
        width: 100%;
        border-radius: 24px;
        padding: 72px 72px;
        color: white;
        p {
            margin-bottom: 18px;
        }
        .movingBoxImage {
            width: 50%;
            position: absolute;
            bottom: 0;
            right: 25%;
        }
    }

    .movingBox2 {
        flex: 5;
        background: white;
        box-shadow: 5px 5px 10px rgba(60, 60, 60, 0.1);
        border-radius: 24px;
        .movingBoxImage2 {
            width: 100%;
            border-radius: 12px;

            height: 193px;
        }
        .boxTwoText {
            padding: 56px 24px;
            p {
                margin-bottom: 24px;
            }
        }
    }
}

.writingImage {
    width: 100%;
    margin-bottom: 196px;
}

.tabsImageContainer {
    position: relative;
    width: 100%;
    height: 96px;
    margin-top: 48px;
    margin-bottom: 164px;
    cursor: pointer;
}

.lessTabsImage {
    width: 100%;
    height: 96px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1.8s ease;
}

.tabsImageContainer:hover .lessTabsImage {
    opacity: 1;
}

.tabsImage {
    width: 100%;
    height: 96px;
    position: absolute;
    top: 0;
    left: 0;
}

/* Mobile Phones */
@media (max-width: 430px) {
    .movingBoxContainer {
        display: inline;
        .movingBox1 {
            margin-bottom: 36px;
        }
    }
    .lessTabsImage {
        height: 76px;
    }
    .tabsImage {
        height: 76px;
    }
}

/* Tablets */
@media (min-width: 431px) and (max-width: 768px) {
    .movingContainer {
        margin: 8px 56px;
    }

    .movingBoxContainer {
        display: inline;
        .movingBox1 {
            margin-bottom: 36px;
        }
    }

    .lessTabsImage {
        height: 76px;
    }
    .tabsImage {
        height: 76px;
    }
    .writingImage {
        margin-bottom: 96px;
    }

    .tabsImageContainer {
        margin-top: 96;
    }
}

/* Wide Desktop Screens */
@media (min-width: 1920px) {
    /* Your wide desktop-specific styles here */
}
