.mainContainer {
    height: fit-content;
    width: 100%;
    max-width: 980px;
    position: relative;
    .video {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
    .overlay {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        display: none;
    }
}
