.paperContainer {
    margin: 24px 222px;
}

.paperBoxContainer {
    display: flex;
    gap: 24px;

    .paperBox1 {
        flex: 7;
        height: 500px;
        position: relative;
        background: linear-gradient(45deg, #164c63, #088ab2);
        width: 100%;
        border-radius: 24px;
        padding: 72px 72px;
        color: white;
        p {
            margin-bottom: 18px;
        }
        .paperBoxImage {
            width: 50%;
            position: absolute;
            right: 0;
            top: 20%;
        }
        .paperBoxText {
            margin-top: 20%;
        }
    }

    .paperBox2 {
        flex: 5;
        background: white;
        box-shadow: 2px 2px 5px 2px rgba(97, 97, 97, 0.3);
        border-radius: 24px;
        position: relative;
        z-index: 20;
        .paperBoxImage2 {
            width: 90%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .boxTwoText {
            padding-top: 72px;
            padding-left: 36px;
            padding-right: 36px;
            p {
                margin-bottom: 24px;
            }
        }
    }
}

.metricsBoxContainer {
    display: flex;
    width: 100%;
    gap: 24px;
    margin-top: 24px;

    .metricsBox1 {
        flex: 7;
        background: linear-gradient(45deg, #164c63, #088ab2);
        width: 100%;
        border-radius: 24px;
        padding: 72px;
        color: white;
        p {
            margin-bottom: 18px;
        }
        .metricsBoxImage {
            display: flex;
            margin-top: 76px;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 36px;
            .metricsBoxImage1 {
                width: 50%;
            }
            .metricsBoxImage2 {
                width: 50%;
            }
        }
    }

    .metricsBox2 {
        flex: 5;
        width: 100%;
        background: white;
        box-shadow: 2px 2px 5px 2px rgba(138, 138, 138, 0.3);
        border-radius: 24px;
        position: relative;
        .metricsBoxImage2 {
            width: 90%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .boxTwoText {
            padding: 56px 24px;
            p {
                margin-bottom: 24px;
            }
        }
    }
}

.BoxContainerImage {
    width: 100%;
    margin-top: 48px;
    // margin-bottom: 180px;
}
