/* Laptops */

.cinematicContainer {
    padding: 76px 222px;

    .cinematicVideoBox {
        position: relative;

        .cinematicVideo {
            width: 100%;
            height: 600px;
            border-radius: 10px;
            object-fit: cover;
            background: #000;
        }

        .cinematicText {
            position: absolute;
            top: 10%;
            left: 7%;
            color: #ffffff;
        }
    }
}

/* Mobile Phones */
@media (max-width: 430px) {
    .cinematicContainer {
        padding: 32px 0px;
    }
}

/* Tablets */
@media (min-width: 431px) and (max-width: 768px) {
    .cinematicContainer {
        padding: 36px 56px;
    }
}

/* Wide Desktop Screens */
@media (min-width: 1920px) {
    /* Your wide desktop-specific styles here */
}