/* Laptops */

.topicalContainer {
    max-width: 996px;
    margin: auto;
    .topicalVideoBox {
        position: relative;

        .topicalVideo {
            width: 100%;
            height: 500px;
            border-radius: 10px;
            object-fit: cover;
            background: #000;
        }

        .topicalText {
            position: absolute;
            top: 20%;
            left: 7%;
            color: #ffffff;
        }
    }
}

/* Mobile Phones */
@media (max-width: 430px) {
    .topicalContainer {
        padding: 0px 0px;
    }
}

/* Tablets */
@media (min-width: 431px) and (max-width: 768px) {
    .topicalContainer {
        padding: 0px 56px;
    }
}

/* Wide Desktop Screens */
@media (min-width: 1920px) {
    /* Your wide desktop-specific styles here */
}
